<header>
    <a href="{{ 'home'|page }}">Training CMS</a>

    <nav>
        <ul>
            <li>
                <a href="{{ 'home'|page }}"
                   class="{{ this.page.id == 'home' ? 'active' : '' }}">
                    Home
                </a>
            </li>

            <li>
                <a href="{{ 'about'|page }}"
                   class="{{ this.page.id == 'about' ? 'active' : '' }}">
                    About
                </a>
            </li>

            <li>
                <a href="/pages/about-training"
                   class="{{ this.page.id == 'dynamic-page' and this.param.slug == 'about-training' ? 'active' : '' }}">
                    Training
                </a>
            </li>

            <li>
                <a href="{{ 'contact'|page }}"
                   class="{{ this.page.id == 'contact' ? 'active' : '' }}">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</header>